body {
  background:#b3adad;
}

h1 {
  font-size:calc(36px + 2vw)!important;
}

.avatar {
  max-width: 100%;
  max-height: auto;
}

.navbar-brand {
  font-size: 3rem;
}

.img-maxwidth-100 {
  max-width: 100%;
  height: auto;
}

.footer-bottom {
  min-height: 40px;
}

.icon {
  max-width: 24px;
  vertical-align: middle;
}

.footer-text {
  color: rgba(255, 255, 255, 0.5);
}

.bg-footer {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px gray, -1em 0 0.6em grey;
}

.bg-white {
  background-color: rgb(255, 255, 255);
}
