body {
  background:#b3adad;
}

label {
  max-width: 100%;
}
.navbar {
  box-shadow: 3px 3px gray, -1em 0 0.6em grey;
}

.navbar-brand {
  font-size: 3rem;
}

.img-maxwidth-100 {
  max-width: 100%;
  height: auto;
}

.footer-bottom {
  min-height: 40px;
}

.icon {
  max-width: 24px;
  vertical-align: middle;
}

.footer-text {
  color: rgba(255, 255, 255, 0.5);
}

.bg-footer {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px gray, -1em 0 0.6em grey;
}

.bg-white {
  background-color: rgb(255, 255, 255);
}


/* This is supposed to create responsive text sizing but it's not working

.display-2 {
  font-size: 2rem;
}

@include media-breakpoint-up(sm) {
  .display-2 {
    font-size: 3rem;
  }
}

@include media-breakpoint-up(md) {
  .display-2 {
    font-size: 3.5rem;
  }
}

@include media-breakpoint-up(lg) {
  .display-2 {
    font-size: 4.5rem;
  }
}
*/
